beautifulsoup4==4.12.3
contractions==0.1.73
joblib==1.4.2
nltk==3.9.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.1
spacy==3.7.6
spacy-legacy==3.0.12
spacy-loggers==1.0.5
streamlit==1.37.1
tqdm==4.66.5
